@import "style.css";

.signup-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 85vh;
  }
  
  .signup-form-form{
    border-radius: 30px;
    padding: 20px;
    width:30%;
    background-color: #545451;
  }
  
  .signup-form-form h1 {
    text-align: center;
    color: #6CBDCF;
  }
  
  .signup-form-form h3 {
      text-align: center;
      color: white;
  }
  
  .signup-form-form input[type=text],input[type=password],input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
  }
  
  .signup-form-form button{
    background-color: #6CBDCF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
  }
  
  .signup-form-form button:hover{
    opacity: 0.6;
  }