.head1 {
    color: white;
    font-size: xx-large;
    background-color: blueviolet;
}

/*  */

.view-post-page {
    height: 82vh;
}

.post-label {
    display: flex;
    font-weight: bold;
    margin-right: 5px;
    align-items: center;
}

.post-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.post {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: #444444;
    border-radius: 10px;
    padding: 20px;
}

.user-review-author {
    color: white;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.user-review-year {
    color: white;
    font-size: 30px;
}

.user-review-rating {
    color: white;
    font-size: 30px;
}

.user-review-professor {
    color: white;
    font-size: 30px;
}

.user-review-content {
    color: white;
    font-size: 30px;
}


/* COMMENT CREATION STYLING */
.comment-container {
    display: flex;
    margin-top: 10px;
    background-color: #444444;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
}

.create-comment-field {
    border: none;
    height: 30px;
    border-radius: 5px;
}

.submit-comment-btn {
    height: 30px;
    background-color: #6CBDCF;
    border: none;
    border-radius: 5px;
    color: white;
}

/* COMMENT DISPLAY STYLING */

.user-review-list {
    padding-top: 10px;
}